<div class="bg-lavender text-pink-900 flex flex-row mx-auto py-5 w-screen">
    <!-- Header -->
    <div class="uppercase text-lg basis-1/4 pl-5">
        <a href="">
            <span class="font-extrabold hover:text-white">Musica</span>
        </a>
    </div>
    <div class="flex-auto flex justify-end items-center pr-5">
        <span>Now playing</span>
        <a href="">
            <span class="font-extrabold ml-2 hover:text-white">A song for You! You? You!!</span>
        </a>
    </div>
</div>
<div class="text-white flex w-6/12">
    <!-- Main -->
    <div class="basis-1/2">
        <img src="/frontend-finals/public/img/currentSong.jpg" alt="A song for You! You? You!!">
    </div>
    <div>
        <span>A song for You! You? You!!</span>
    </div>
    <div>
        <span>µ's</span>
    </div>
</div>
<div>
    <!-- Control -->
</div>